<!--<ion-header>
  <ion-toolbar>
    <ion-title>escoje-fecha-hora</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-verd">
    <ion-label class="label-cabezera"><ion-icon name="arrow-back-outline" class="icon-flecha"></ion-icon>Datos del paciente</ion-label>
    <p class="p-mapa">Mumbai</p>
  </ion-card>
  <ion-card class="card-blanco">
    <h6 class="ion-text-center titulo-card">¡Reserva de cita fallo!</h6>
    <p class="p-descripcion-plomo ion-text-center">Algo salió mal, inicia de nuevo el proceso de reserva</p>
  </ion-card>
  <ion-button class="btn-proxima">Regresar</ion-button>
  <div class="div-foofter">
    <div class="div-linea"></div>
  </div>
</ion-content>
