<!---<ion-header>
  <ion-toolbar>
    <ion-title>califica-atencion</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-text-center">
  <img src="assets/img/califica-atencion.png">
  <p class="p-titulo">¿Te gustó mi atención?</p>
  <p class="p-descrip">
    <!-- Ayúdanos a mejorar la atención, califica la atención brindada por el profesional -->
  </p>
  <div class="div-sterllas">
    <ion-icon name="star-outline" *ngFor="let num of [1, 2, 3, 4, 5]" 
    (click)="rate (0, num)" [ngStyle]="{'color': getColor (0, num)}">
    </ion-icon>
  </div>
  <form [formGroup]="form" class="form-class">
    <ion-item lines="none">
      <ion-textarea formControlName="comment" [placeholder]="'Comentanos sobre la atención de ' + item?.tratamiento_doctor + ' ' + item?.nombre_doctor"></ion-textarea>
    </ion-item>
  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button class="btn-siguiente" (click)="submit ()">Siguiente</ion-button>
  <div class="div-linea-footer"></div>
  <p class="ion-text-center p-footer" (click)="back ()">En otro momento</p>
</ion-footer>
