<!---<ion-header>
  <ion-toolbar>
    <ion-title>califica-atencion</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-text-center">
  <img src="assets/img/califica-atencion.png">
  <p class="p-titulo">¿Te gustó mi atención?</p>
  <p class="p-descrip">
    Ayúdanos a mejorar la atención, califica la atención brindada por el profesional
  </p>
  <div class="div-sterllas">
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
  </div>
  <ion-item lines="none">
    <ion-textarea placeholder="Deja tu comentario para"></ion-textarea>
  </ion-item>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button class="btn-siguiente">Siguiente</ion-button>
  <div class="div-linea-footer"></div>
  <p class="ion-text-center p-footer">En otro momento</p>
</ion-footer>
