<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <!-- <p>Lugar de residencia actual</p> -->
        <p style="padding: 1rem;">Bienvenido a ACUDE, te ofrecemos la plataforma mas completa de servicios de salud.</p>
        <!-- <p>Bienvenido {{ api.USUARIO_DATA?.first_name }}, antes de continuar es necesario que nos indiques tu ubicación de residencia, para poder ofrecerte una mejor experiencia en el uso.</p> -->
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-select [(ngModel)]="departamento" (ionChange)="departamentoChange ()" placeholder="Departamento" mode="ios">
          <ion-select-option *ngFor="let item of departamentos" [value]="item">
            {{ item.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-col>

      <!-- <ion-col *ngIf="departamento !== null" size="11" size-md="9" size-lg="8">
        <ion-select  [(ngModel)]="provincia" (ionChange)="provinciaChange ()" placeholder="Provincia" mode="ios">
          <ion-select-option *ngFor="let item of provincias" [value]="item">
            {{ item.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col *ngIf="provincia !== null" size="11" size-md="9" size-lg="8">
        <ion-select [(ngModel)]="distrito" placeholder="Distrito" mode="ios">
          <ion-select-option *ngFor="let item of distritos" [value]="item">
            {{ item.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <ion-button class="btn_enlace" [disabled]="departamento === null" (click)="submit ()">Siguiente</ion-button>
</ion-content>