<ion-content>
  <ion-card class="card-verd">
    <ion-label (click)="back ()" class="label-cabezera"><ion-icon name="arrow-back-outline" class="icon-flecha"></ion-icon>Antecedentes del paciente</ion-label>
  </ion-card>
  <ion-card class="card-blanco">
    <form [formGroup]="form">
      <h6 class="h6-titulo ion-text-center">Antecedentes del paciente</h6>
      <div class="div-input">
        <ion-input formControlName="altura" placeholder="Estatura" type="tel" class="input-genral input-mitad"></ion-input>
        <ion-input formControlName="peso" placeholder="Peso" type="tel" class="input-genral input-mitad input-left"></ion-input>
      </div>
      <div class="div-input-bottom">
        <ion-textarea autoGrow=true formControlName="enfermedades" placeholder="Enfermedades" type="text" class="input-genral"></ion-textarea>
        <ion-textarea autoGrow=true formControlName="alergias" placeholder="Alergias" type="text" class="input-genral"></ion-textarea>
        <ion-textarea autoGrow=true formControlName="cirugias" placeholder="Cirugias" type="text" class="input-genral"></ion-textarea>
        <ion-textarea autoGrow=true formControlName="drogas_medicamentos" placeholder="Drogas y medicamentos" type="text" class="input-genral"></ion-textarea>
        <ion-textarea autoGrow=true formControlName="fobias" placeholder="Fobias" type="text" class="input-genral"></ion-textarea>
        <ion-textarea autoGrow=true formControlName="ansiedad" placeholder="Ansiedad" type="text" class="input-genral"></ion-textarea>
        <ion-textarea autoGrow=true formControlName="panicos" placeholder="Panicos" type="text" class="input-genral"></ion-textarea>
        <ion-textarea autoGrow=true formControlName="deportes" placeholder="Deportes" type="text" class="input-genral"></ion-textarea>
        <ion-textarea autoGrow=true formControlName="otros" placeholder="Otros" type="text" class="input-genral"></ion-textarea>
      </div>
    </form>
  </ion-card>
  <ion-button class="btn-proxima" (click)="submit ()">Finalizar proceso</ion-button>
  <ion-button class="btn-omitir" (click)="submit ()"><ion-icon name="close-outline" class="icon-close"></ion-icon>Omitir</ion-button>
  <div class="div-foofter">
    <div class="div-linea"></div>
  </div>
</ion-content>
