<!--<ion-header>
  <ion-toolbar>
    <ion-title>escoje-fecha-hora</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-verd">
    <ion-label class="label-cabezera"><ion-icon name="arrow-back-outline" class="icon-flecha"></ion-icon>Datos del paciente</ion-label>
    <p class="p-mapa">Mumbai</p>
  </ion-card>
  <ion-card class="card-blanco">
    <h6 class="h6-titulo ion-text-center">Antecedentes del paciente</h6>
    <div class="div-input">
      <ion-input placeholder="Estatura" type="number" class="input-genral input-mitad"></ion-input>
      <ion-input placeholder="Peso" type="number" class="input-genral input-mitad input-left"></ion-input>
    </div>
    <div class="div-input-bottom">
      <ion-input placeholder="Numero de tarjeta" type="number" class="input-genral"></ion-input>
      <ion-input placeholder="Numero de tarjeta" type="number" class="input-genral"></ion-input>
      <ion-input placeholder="Numero de tarjeta" type="number" class="input-genral"></ion-input>
      <ion-input placeholder="Numero de tarjeta" type="number" class="input-genral"></ion-input>
      <ion-input placeholder="Numero de tarjeta" type="number" class="input-genral"></ion-input>
      <ion-input placeholder="Numero de tarjeta" type="number" class="input-genral"></ion-input>
    </div>
  </ion-card>
  <ion-button class="btn-proxima">Finalizar proceso</ion-button>
  <div class="div-foofter">
    <div class="div-linea"></div>
  </div>
</ion-content>
