<!--<ion-header>
  <ion-toolbar>
    <ion-title>historial-citas</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-verd">
    <ion-label (click)="back ()" class="label-cabezera"><ion-icon name="arrow-back-outline" class="icon-flecha"></ion-icon>Historial de citas</ion-label>
    <ion-select [(ngModel)]="paciente_seleccionado" interface="popover" (ionChange)="changed ($event.detail.value)" class="select-blanco">
      <ion-select-option value="todos">
        <h2>Todos</h2>
      </ion-select-option>

      <ion-select-option *ngFor="let item of pacientes" [value]="item.paciente">
        <h2>{{ item.paciente.nombres + ' ' + item.paciente.apellidos }}</h2>
      </ion-select-option>
    </ion-select>
  </ion-card>
  
  <ion-segment (ionChange)="segmentChanged ($event)" [(ngModel)]="tipo_citas" class="ion-segment">
    <ion-segment-button value="pasadas" class="segment-btn-pasada">
      <ion-label>Atendidas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="proximas" class="segment-btn-proximas">
      <ion-label>Por atender</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <div class="div-list-card">
    <ion-card *ngFor="let item of citas" class="card-pacientes" (click)="ver_cita (item)">
      <h6 class="hl-titulo-doctorres">Dr {{ item.centro_medico_sede_profesional.info_doctor.nombre_completo }}</h6>
      <div class="div-datos div-margin-bottom">
        <p class="p-widht-uno color-categorias">Tipo:</p>
        <p class="p-nombre-categorias">{{ get_tipo_cita (item.tipo_cita) }}</p>
        &nbsp;
        <ion-icon style="font-size: 1.2rem; color: red;" *ngIf="item.tipo_cita === '1'" slot="icon-only" name="help-circle"></ion-icon>
      </div>

      <div *ngIf="item.tipo_cita === '1'" class="div-datos div-margin-bottom">
        <p class="color-categorias">Codigo de acceso a videollamada:&nbsp;</p>
        <p class="p-nombre-categorias">{{ item.enlace_sala }}</p>
      </div>
      <div class="div-datos div-flex div-margin-bottom">
        <div class="div-datos div-right-margin">
          <p class="p-widht-uno color-categorias">Fecha:</p>
          <p class="p-nombre-categorias">{{ item.fecha }}</p>
        </div>
        <div class="div-datos">
          <p class="p-widht-uno color-categorias">Hora:</p>
          <p class="p-nombre-categorias">{{ item.hora }}</p>
        </div>
      </div>
      <div class="div-datos">
        <p class="p-widht-uno color-categorias">Dirección:</p>
        <p class="p-nombre-categorias p-widht-direccion">{{ item.centro_medico_sede_profesional.info_centro_medico_sucursal.direccion }}</p>
      </div>
      <ion-button *ngIf="validar_boton (item)" (click)="editar (item)" class="btn-reprogramar" mode="ios">Reprogramar</ion-button>
    </ion-card>
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-item class="ion-text-center ion-text-wrap">
    <ion-label class="ion-text-wrap">
      Para poder usar las videollamadas es necesario bajar esta <a href="https://play.google.com/store/apps/details?id=com.discord&hl=es&gl=US">app</a>
    </ion-label>
  </ion-item>
</ion-footer> -->
