<ion-content [fullscreen]="true">
  <ion-slides pager="true">
    <ion-slide>
     <ion-card>
      <img src="assets/img/f1.png">
      <ion-card-content>
        Busca profesionales de la salud, clínicas, laboratorios o farmacias en tu zona.
      </ion-card-content>
     </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/img/f2.png">
        <ion-card-content>
          Reserva una cita médica, realiza una consulta presencial o virtual, ACUDE te brinda eso y mucho mas.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/img/f3.png">
        <ion-card-content>
          Profesionales y establecimientos acreditados, al alcance de tus manos.
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="4" offset="3" offset-sm="4">
        <ion-button class="btn_siguinete" (click)="next ()">Siguiente</ion-button>
      </ion-col>
      <ion-col size="6" size-sm="4" offset="3" offset-sm="4" class="ion-padding-start ion-padding-end">
        <div class="div_plomo"></div>
      </ion-col>
      <ion-col size="12">
        <ion-button class="btn_saltar" (click)="saltar ()">Saltar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
