<ion-header>
<ion-toolbar>
    <ion-title class="ion-text-center">Información personal</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
        <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="col_flex">
            <ion-card>
                <img [src]="imagen" alt="">
            </ion-card>
            <div class="div_absolute" (click)="selectImageSource ()">Subir foto <ion-icon name="chevron-forward-outline"></ion-icon></div>
        </ion-col>
        <ion-col size="11" size-md="9" size-lg="8">
            <ion-label>Nombres</ion-label>
            <ion-input formControlName="fName" placeholder="Nombres" class="input_genral"></ion-input>
        </ion-col>
        <ion-col size="11" size-md="9" size-lg="8">
            <ion-label>Apellidos</ion-label>
            <ion-input formControlName="lName" placeholder="Apellidos" class="input_genral"></ion-input>
        </ion-col>
        
        <ion-col size="11" size-md="9" size-lg="8">
            <ion-select formControlName="departamento" (ionChange)="departamentoChange ()" placeholder="Departamento" mode="ios">
              <ion-select-option *ngFor="let item of departamentos" [value]="item">
                {{ item.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="11" size-md="9" size-lg="8">
            <ion-select formControlName="provincia" (ionChange)="provinciaChange ()" placeholder="Provincia" mode="ios">
              <ion-select-option *ngFor="let item of provincias" [value]="item">
                {{ item.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="11" size-md="9" size-lg="8">
            <ion-select formControlName="distrito" placeholder="Distrito" mode="ios">
              <ion-select-option *ngFor="let item of distritos" [value]="item">
                {{ item.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-col>
          
        </ion-row>
        </ion-grid>


    </form>
    <ion-button class="btn_enlace" [disabled]="!form.valid" (click)="submit ()">Actualizar</ion-button>
</ion-content>