<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons mode="md" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="display: contents;" class="ion-text-center ion-text-wrap">
      Califica la atencion del profesional
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <img src="assets/img/califica-atencion.png">
  <!-- <p class="p-titulo">¿Te gustó mi atención?</p> -->
  <p class="p-descrip">
    Ayúdanos a mejorar nuestro servicio.
    <br>
    Califica la atención brindada por el profesional.
  </p>
  <!--<div class="div-list-card">
    <ion-card (click)="calificar (item)" *ngFor="let item of items" class="card-pacientes">
      <h6 class="hl-titulo-doctorres">Dr {{ item.nombre_doctor }}</h6>
      <div class="div-datos div-flex div-margin-bottom">
        <div class="div-datos div-right-margin">
          <p class="p-widht-uno color-categorias">Centro medico:</p>
          <p class="p-nombre-categorias">{{ item.nombre_centro_medico_sucursal }}</p>
        </div>
        <div class="div-datos">
          <p class="p-widht-uno color-categorias">Paciente:</p>
          <p class="p-nombre-categorias">{{ item.nombre_paciente }}</p>
        </div>

        <div class="div-datos">
          <p class="p-widht-uno color-categorias">Fecha:</p>
          <p class="p-nombre-categorias">{{ item.fecha }}</p>
        </div>
      </div>
    </ion-card>
  </div>-->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="6" size-lg="5">
        <ion-card (click)="calificar (item)" *ngFor="let item of items" class="card_establecimineto" >
          <div class="div_img_p">
            <div class="div_img_circulo">
              <img [src]="get_imagen (item?.img_doctor)">
            </div>
          </div>
          <div class="div_img_pdiv_img_p">
            <div class="div_titulo_estrella">
              <ion-row>
                <ion-col size="12" class="ion-no-padding">
                  <p class="p_titulo">{{ item.tratamiento_doctor }} {{ item.nombre_doctor }}</p>
                </ion-col>
                <!--<ion-col size="4" class="ion-no-padding ion-text-end" style="position: relative;">
                  <p class="p_ofta">Oftalmologa</p>
                </ion-col>-->
              </ion-row>
            </div>
            <div class="div_liena_azul">
              <h6 class="h6-list">Centro medico</h6>
              <p>{{ item.nombre_centro_medico_sucursal }}</p>
              <h6 class="h6-list">Paciente</h6>
              <p>{{ item.nombre_paciente }}</p>
              <h6 class="h6-list">Fecha de atencion</h6>
              <p>{{ item.fecha }}</p>
            </div>
          </div>
          <ion-row class="ion-justify-content-center" style="width: 100%;">
            <!-- <ion-col size="6">
              <ion-button class="btn_salud" mode="ios">Omitir</ion-button>
            </ion-col> -->
            <ion-col size="12">
              <ion-button class="btn_salud_llmar" mode="ios">Calificar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="div_plomo"></div>
  <p class="ion-text-center p-footer" (click)="back ()">En otro momento</p>
  <!--<p class="ion-text-center p-footer">Deseo no comentar</p>-->
</ion-footer>


