@font-face{
    font-family: PoppinsSemiBold;
    src : url('/assets/font/Poppins-SemiBold.otf')
}
@font-face{
    font-family: PoppinsRegular;
    src : url('/assets/font/Poppins-Regular.otf')
}
@font-face{
    font-family: MyanmarSangam;
    src : url('/assets/font/Myanmar Sangam MN.ttc')
}
.p-titulo
{
    font-family: PoppinsSemiBold;
    color: #875FB6;
    font-size: 16px;
}
.p-descrip
{
    color: #898A8F;
    font-family: PoppinsRegular;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}
.div-sterllas
{
    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    ion-icon
    {
        color: #CFCFCF;
        font-size: 35px;
    }
}
.btn-siguiente
{
    --color: #fff;
    font-family: PoppinsSemiBold;
    text-transform: none;
    --background: #FE9067;
    --border-radius: 25px;
    --border-color: #CDD3D9;
    --border-style: solid;
    --border-width: 2px; 
    --box-shadow: none;
    width: 50%;
    margin-left: 25%;
    height: 45px;
}
.div-linea-footer
{
    background-color: #F0F0F3;
    border-radius: 3px;
    height: 5px;
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
}
.p-footer
{
    color: #875FB6;
    font-family: MyanmarSangam;
    margin-top: 10px;
    margin-bottom: 10px;
}
img
{
    margin-top: 20px;
    width: 250px;
}
ion-item
{
    --padding-start: 25px;
    --inner-padding-end: 25px;
}
ion-textarea
{
    border-radius: 13px;
    border: 1px solid #D2D2D2;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    --color: #898A8F;
    --placeholder-color: #898A8F;
    font-family: PoppinsRegular;
}
@media (min-width: 375px) and (min-height: 812px) 
{
    img
    {
        margin-top: 90px;
        width: 280px;
    }
    .p-footer
    {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .div-linea-footer
    {
        margin-top: 35px;
    }
}
@media (min-width: 375px) and (min-height: 667px) 
{
    .p-footer
    {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .div-linea-footer
    {
        margin-top: 35px;
    }
}
@media (min-width: 411px)
{
    img
    {
        margin-top: 80px;
    }
    ion-item
    {
        --padding-start: 30px;
        --inner-padding-end: 30px;
    }
}
@media (min-width: 411px) and (min-height: 823px)
{
    .p-descrip
    {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (min-width: 414px)
{
    img
    {
        margin-top: 50px;
        width: 300px;
    }
}
@media (min-width: 480px)
{
    img
    {
        margin-top: 90px;
    }
    .p-descrip
    {
        padding-left: 70px;
        padding-right: 70px;
    }
    .div-sterllas
    {
        margin-top: 60px;
    }
    ion-item
    {
        --padding-start: 40px;
        --inner-padding-end: 40px;
    }
}
@media (min-width: 540px)
{
    img
    {
        margin-top: 60px;
    }
    .div-sterllas
    {
        margin-top: 30px;
    }
    .div-linea-footer
    {
        margin-top: 20px;
    }
    .p-footer
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    ion-item
    {
        --padding-start: 60px;
        --inner-padding-end: 60px;
    }
}
@media (min-width: 600px)
{
    img
    {
        margin-top: 130px;
    }
    .div-sterllas
    {
        margin-top: 30px;
    }
    .div-linea-footer
    {
        margin-top: 40px;
    }
    .p-footer
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    ion-item
    {
        --padding-start: 80px;
        --inner-padding-end: 80px;
    }
}
@media (min-width: 768px)
{
    ion-item
    {
        --padding-start: 100px;
        --inner-padding-end: 100px;
    }
    ion-textarea
    {
        height: 130px;
    }
    .div-sterllas
    {
        padding-left: 90px;
        padding-right: 90px;
        ion-icon
        {
            font-size: 60px;
        }
    }
    .btn-siguiente
    {
        height: 65px;
    }
    img
    {
        width: 450px;
        margin-top: 80px;
    }
    .p-footer
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .div-linea-footer
    {
        margin-top: 50px;
    }
}
@media (min-width: 1024px)
{
    ion-item
    {
        --padding-start: 190px;
        --inner-padding-end: 190px;
    }
    .div-sterllas
    {
        padding-left: 120px;
        padding-right: 120px;
        margin-top: 50px;
    }
    .p-descrip
    {
        padding-left: 250px;
        padding-right: 250px;
    }
    img
    {
        width: 550px;
    }
    .btn-siguiente
    {
        height: 80px;
        width: 40%;
        margin-left: 30%;
    }
    .p-footer
    {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .div-linea-footer
    {
        margin-top: 80px;
    }
    ion-textarea
    {
        margin-top: 50px;
    }
}