<!--<ion-header>
  <ion-toolbar>
    <ion-title>escoje-fecha-hora</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-verd">
    <ion-label class="label-cabezera"><ion-icon name="arrow-back-outline" class="icon-flecha"></ion-icon>Datos del paciente</ion-label>
    <p class="p-mapa">Mumbai</p>
  </ion-card>
  <ion-card class="card-blanco">
    <h6 class="h6-titulo ion-text-center">Confrmación de cita</h6>
    <div class="div-bottom-cita">
      <h6 class="titulo-confirmacion">Paciente</h6>
      <p class="p-nombre">Jose Manuel Jimenez Jordan</p>
      <p class="p-descripcion-cita">B.Sc, MBBS, DDVL, MD- Dermitol...</p>
    </div>
    <div class="div-bottom-cita">
      <h6 class="titulo-confirmacion">Doctor</h6>
      <p class="p-nombre">Cesar Perez Duarte</p>
      <p class="p-descripcion-cita">Cardiologo</p>
    </div>
    <div class="div-bottom-cita">
      <h6 class="titulo-confirmacion">Cuando</h6>
      <p class="p-nombre">Mañana, 9 Dic</p>
      <p class="p-descripcion-cita">4.45PM</p>
    </div>
    <div class="div-bottom-cita">
      <h6 class="titulo-confirmacion">Lugar de atención</h6>
      <p class="p-nombre">Clinica san Pedro</p>
      <p class="p-descripcion-cita">Calle los Alamos 1231, San Fernando , Lima</p>
    </div>
    <p class="p-descripcion-plomo">* No hay devoluciones <br>** Cambios de cita hasta 24 horas antes</p>
  </ion-card>
  <ion-button class="btn-proxima">Regresar</ion-button>
  <div class="div-foofter">
    <div class="div-linea"></div>
  </div>
</ion-content>
