<ion-header style="position: relative;">
  <ion-toolbar>
    <ion-card class="card_check">
      <p (click)="back ()"><ion-icon name="arrow-back-outline" class="icon_close"></ion-icon>Especialidad</p>
      <!-- <ion-select value="brown" okText="Okay" cancelText="Dismiss" mode="ios">
        <ion-select-option value="brown">Lima</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select> -->
    </ion-card>
  </ion-toolbar>
  <!-- <ion-slides pager="false" [options]="slideOptsOne">
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Hospitales</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Consultorios</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Postas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <p>Clinicas</p>
      </ion-card>
    </ion-slide>
  </ion-slides> -->
</ion-header>

<ion-content>
  <p class="p_busqueda ion-text-end">Mostrando <span><strong>{{ centros_medicos.length }} resultados</strong></span></p>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6" *ngFor="let item of centros_medicos">
        <ion-card class="card_establecimineto" (click)="ver (item)">
          <div class="div_img_p">
            <div class="div_img_circulo">
              <img [src]="get_foto (item)">
              <div class="div_circulo_verde">
                
              </div>
            </div>
            <p class="p_votos"></p>
            <p class="p_opciones"></p>
          </div>
          <div class="div_img_pdiv_img_p">
            <div class="div_titulo_estrella">
              <ion-row>
                <ion-col size="8" class="ion-no-padding">
                  <p class="p_titulo">{{ item.info_c_m_nombre_comercial.nombre_comercial }}</p>
                  <p class="p_direccion"><img src="assets/img/placeholder.png">&nbsp;{{ item.direccion }}</p>
                </ion-col>
                <ion-col size="4" class="ion-no-padding ion-text-end">
                  <!-- <p class="p_number_estrella"><img src="assets/img/star.png"> 4.2</p> -->
                </ion-col>
              </ion-row>
            </div>
            <div *ngIf="item.especialidades.length > 0" class="div_liena_azul">
              <p><ng-container *ngFor="let e of item.especialidades">{{ e.especialidad.nombre }}</ng-container></p>
            </div>
          </div>
          <ion-row class="ion-justify-content-center" style="width: 100%;">
            <ion-col size="6">
              <!-- <ion-button class="btn_salud"></ion-button> -->
            </ion-col>
            <ion-col size="6">
              <ion-button class="btn_salud">Ver perfil</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="div_circulo_blanco">
    <ion-icon name="funnel-outline"></ion-icon>
  </div>
</ion-content>