<ion-header>
  <ion-toolbar>
    <ion-card class="ion-no-margin">
      <img src="assets/img/logo-blanco.png">
    </ion-card>
    <p class="ion-text-center"><span (click)="login_social ('correo')">Registrar</span> / <span (click)="go_view ('ingreso')">Entrar</span></p>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div_botones">
    <div class="div_linea_plomo"></div>
    <div class="div_check">
      <ion-checkbox [(ngModel)]="checked"></ion-checkbox>
      <ion-label>Acepto los <ins (click)="go_link ('terminos')">términos y condiciones</ins> y <ins (click)="go_link ('politicas')">políticas de privacidad</ins></ion-label>
    </div>
    <ion-button class="btn_enlace btn_correo" (click)="login_social ('correo')">Correo</ion-button>
    <ion-button class="btn_enlace btn_facebbok" (click)="login_social ('facebook')">Facebook</ion-button>
    <ion-button class="btn_enlace btn_google" (click)="login_social ('google')">Google</ion-button>
    <ion-button class="btn_enlace btn_apple" *ngIf="is_ios" (click)="login_social ('apple')">Apple</ion-button>
  </div>
</ion-content>