<ion-content>
  <ion-card>
      <img src="assets/img/img-acude.png">
      <ion-list>
          <ion-item (click)="go_page ('editar-perfil')" lines="fulls">
            <ion-label>Editar perfil</ion-label>
          </ion-item>
          <ion-item lines="fulls" (click)="contactar ()">
            <ion-label>Contactar con Acude</ion-label>
          </ion-item>
          <ion-item lines="fulls" (click)="share_app ()">
            <ion-label>Invita tus amigos</ion-label>
          </ion-item>
          <!-- <ion-item lines="fulls" (click)="favoritos ()">
              <ion-label>Mis favoritos</ion-label>
          </ion-item> -->
          <ion-item lines="fulls" (click)="ser_pro ()">
              <ion-label>Eres profesional de la salud? Registrase.</ion-label>
          </ion-item>
          <!-- <ion-item lines="fulls" (click)="go_historial ()">
            <ion-label>Historial de citas</ion-label>
          </ion-item> -->
          <ion-item (click)="cerrar_s ()" lines="fulls">
              <ion-label>Cerrar sesión</ion-label>
          </ion-item>
        </ion-list>
  </ion-card>
  </ion-content>

  <ion-footer class="ion-no-border ion_footer">
    <ion-toolbar class="ion_toolbar">
      <ion-row>
        <ion-col (click)="salir ()" class="ion_tolbar">
          <div style="width: 100%;text-align: center;">
            <ion-icon name="close-circle" class="icon_close"></ion-icon>
          </div>
          <ion-label class="label_cuenta">Menu</ion-label>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
  <!--<ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="close-circle" class="icon_close"></ion-icon>
          <ion-label class="label_cuenta">Menu</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>-->