<ion-header>
  <ion-toolbar>
    <img src="assets/img/logoblanco.png">
    <div class="div_iconos_blancos">
      <ion-icon (click)="back ()"name="arrow-back-outline"></ion-icon>
      <ion-icon (click)="share ()" name="share-social-sharp"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="7">
        <div class="div_circulo">
          <img style="border-radius: 50%;" [src]="get_foto (datos)">
        </div>
        <ion-card class="card_iguales">
          <ion-row>
            <ion-col size="4" class="ion-no-padding">
              <div *ngIf="datos?.atiende_emergencias_24 === '1'" class="div_verde">
                Emergencias 24/7
              </div>
            </ion-col>
            <ion-col size="4" style="display: flex;justify-content: center;">
            </ion-col>
            <ion-col size="4" class="col_flex">
              <p style="opacity:1" *ngIf="promedio_calificacion > 0" class="ion-no-margin p_iconos">
                {{ promedio_calificacion }}<img src="assets/img/star.png" style="margin-right: 5px;">
              </p>
              <ion-icon style="opacity:0" name="videocam-outline" class="icon_camra_cora icon_rigth"></ion-icon>
              <div (click)="toggle_favorito ()">
                <img *ngIf="favorito === false" src="assets/img/D6dSLWtif.png" width="25px">
                <img *ngIf="favorito === true" src="assets/img/D6dSLWtifactivo.png" width="25px">
              </div>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <p class="subtitulo_p" style="margin-bottom: 0px; margin-top: 1rem;">{{ datos?.especialidad?.nombre }}</p>
              <p class="titulo_p" style="margin-top: 0px;">{{ datos?.tratamiento }}&nbsp;{{ datos?.nombre_completo }}</p>
              <p style="margin-top: 0px;">{{ datos?.especialidad?.categoria_especialidad?.siglas }} {{ datos?.numero_colegiatura_cmp }}</p>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-icon *ngIf="datos?.brinda_telemedicina === '1'" style="font-size: 24px; color: #875FB6;" name="videocam-outline">
              </ion-icon>
              <p class="p_años" *ngIf="datos?.anio_colegiatura !== null">
                {{ get_tiempo_experiencia (datos?.anio_colegiatura) }} de experiencia
              </p>
              <!-- <p class="p_años" *ngIf="datos?.brinda_telemedicina === '1'">
                
                <!-- Atiende via telemedicina
              </p> -->
            </ion-col>
            <ion-col size="6" class="ion-no-padding ion-text-end">
              <span class="p_años" *ngFor="let item of datos?.listaidiomas; last as islast">
                {{ item.idioma.nombre }}<ng-container *ngIf="!islast">,</ng-container>
              </span>
              <p class="p_años" *ngIf="datos?.atiende_emergencias_24 === '1'">Atiendo emergencias 24/7</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="12" size-md="7">
        <ion-button class="btn-proxima" *ngIf="validar_disponibilidad (datos)" (click)="reservar_select ()">Reservar cita</ion-button>
      </ion-col> -->
      <ion-col size="12" size-md="7" *ngIf="datos?.adicional !== null">
        <ion-card class="card_iguales">
          <p class="p_medium">Trayectoria</p>
          <p class="descripcion_p_regular">{{ datos?.adicional }}</p>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="7">
        <ion-card class="card_iguales">
          <ion-row>
            <ion-col size="4" style="padding-top: 0px;padding-bottom: 0px;display: flex;">
              <p class="p_medium">Contacto</p>
              <div class="linea_rigt"></div>
            </ion-col>
            <ion-col size="8" class="ion-no-padding">
              <ion-list class="ion-no-padding">
                <ion-item lines="none" class="item_list" (click)="llamar (datos?.telefono_celular)">
                  <ion-icon name="call-outline"></ion-icon>
                  <ion-label class="label_list">{{ datos?.telefono_celular }}</ion-label>
                </ion-item>
                <ion-item (click)="send_email (datos?.usercorreo?.email)" lines="none" class="item_list">
                  <ion-icon name="mail-outline"></ion-icon>
                  <ion-label class="label_list">{{ datos?.usercorreo?.email }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="7">
        <ion-card class="card_iguales">
          <p class="p_medium">Atiendo en</p>
          <ion-card class="card_acordion" *ngFor="let centro of datos.centros_medicos_lista">
            <ion-card-header (click)="toggle_consultorio (centro)">
              <ion-card-subtitle><img src="assets/img/Grupo1722.png" class="icon_verde">
                {{ centro.info_centro_medico_sucursal_tarjeta_medico.infocentro_medico_tarjeta.nombre_comercial }}
              <ion-icon *ngIf="centro.visible === undefined || centro.visible === false" name="chevron-forward-outline" class="icon_close"></ion-icon>
              <ion-icon *ngIf="centro.visible === true" name="close-outline" class="icon_close"></ion-icon>
            </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content *ngIf="centro.visible">
              <div class="div_conuslta_nutton">
                <p>Costo de consulta : <span>{{ centro.precio_consulta | currency:'S/. ' }}</span></p>
                <ion-button (click)="reservar (centro)" *ngIf="validar_visible (centro.info_centro_medico_sucursal_tarjeta_medico)">
                  Reservar
                </ion-button>
              </div>
              <div class="div_border_bootom">
                <ion-row>
                  <ion-col size="12" style="padding-bottom: 0px;padding-top: 0px;">
                    <ion-row *ngFor="let horario of centro.horarios">
                      <ion-col size="4" style="padding-bottom: 0px;padding-top: 0px;">
                        <p class="p_dias"><strong>{{ horario.infodia.dia }}</strong></p>
                      </ion-col>
                      <ion-col size="4" style="padding-right: 0px;padding-top: 0px;padding-bottom: 0px;">
                        <p class="p_horas">{{ horario.horario_atencion }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </div>
              <div class="ion-padding-top div_mapa">
                <p class="p_direccion"><ion-icon name="location-outline"></ion-icon>{{ centro.info_centro_medico_sucursal_tarjeta_medico.direccion }}</p>

                <div>
                  <div #map [id]="'centros_medicos_' + centro.id"></div>
                </div>

                <a class="a_leer_link ion-margin-bottom" (click)="ver_clinica (centro.info_centro_medico_sucursal_tarjeta_medico.id_centro_medico)">Ver establecimiento ></a>

                {{ draw_mapa_centros_medicos (centro.id, centro.info_centro_medico_sucursal_tarjeta_medico) }}
              </div>
            </ion-card-content>
          </ion-card>
          <div *ngIf="get_comentarios (datos?.centros_medicos).length > 0" class="div_border_top ion-margin-top">
            <p class="p_medium">Comentarios</p>
            <ng-container *ngFor="let item of get_comentarios (datos?.centros_medicos)">
              <img src="assets/img/star.png" style="margin-right: 5px;" *ngFor="let item of get_start (item.pun)"> <p class="p_subtitulo_regular">{{ item.comentario }}</p>
              <p class="descripcion_p_regular">{{ item.paciente }} . {{ get_relative_datetime (item.fecha) }}</p>
            </ng-container>
            <p *ngIf="get_comentarios (datos?.centros_medicos).length > 3" class="a_link_comentarios" (click)="toggle_comentarios ()">
              <ng-container *ngIf="todos_los_comentarios === false">
                TODOS LOS COMENTARIOS
              </ng-container>
              <ng-container *ngIf="todos_los_comentarios === true">
                MENOS COMENTARIOS
              </ng-container>
            </p>
          </div>
          <div class="div_border_top">
            <p class="p_medium" *ngIf="datos?.atiende_domicilio === '1' || datos?.atiende_emergencias_24 === '1'">SERVICIOS</p>
            <p class="p_subtitulo_regular" *ngIf="datos?.atiende_domicilio === '1'">Visita a domicilio</p>
            <p class="p_subtitulo_regular" *ngIf="datos?.atiende_emergencias_24 === '1'">Atiende emergencias 24/7</p>
          </div>
          <!-- <div class="div_border_top">
            <p class="p_medium">ESPECIALIDADES</p>
            <p class="p_subtitulo_regular">Dermitologist</p>
            <p class="p_subtitulo_regular">Trichologist</p>
            <p class="p_subtitulo_regular">Cosmetologist</p>
           <a class="a_link_comentarios">TODOS LOS COMENTARIOS</a>
          </div> -->
          <div *ngIf="datos?.articulos_publicados !== null" class="div_border_top">
            <p class="p_medium">Publicaciones</p>
            <p class="p_subtitulo_regular">{{ datos?.articulos_publicados }}</p>
            <!-- <p class="p_subtitulo_regular">Publicación en revista xyz</p>
            <p class="p_subtitulo_regular">Otra publicación</p>
            <p class="a_link_comentarios">TODOS LAS PUBLICACIONES</p> -->
          </div>
        </ion-card>
      </ion-col>
      <ion-col style="margin-bottom: 2rem;" size="12" size-md="7">
        <ion-button class="btn-proxima btn-left-width" *ngIf="validar_disponibilidad (datos)" (click)="reservar_select ()">Reservar cita</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>