<ion-header>
  <ion-toolbar>
    <ion-card class="card_check">
      <p (click)="back ()"><ion-icon name="close-outline" class="icon_close"></ion-icon>Encuentra tu establecimiento</p>
      <!-- <ion-select value="brown" okText="Okay" cancelText="Dismiss" mode="ios">
        <ion-select-option value="brown">Lima</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select> -->
    </ion-card>
  </ion-toolbar>
  <ion-card class="card_buscador">
    <ion-searchbar #searchbar [(ngModel)]="search_text" placeholder="Buscar por ubicacion"></ion-searchbar>
  </ion-card>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-sm="10" size-md="8" style="padding-left: 0px;padding-right: 0px;">
        <ion-slides pager="false" [options]="slideOptsOne" (ionSlideDidChange)="slides_categoria_changed ()">
          <ion-slide class="slider_p">
            <p class="p-slider-favorito"></p>
          </ion-slide>
          <ion-slide *ngFor="let item of tipos_centros_medicos" class="slider_p">
            <p class="p-slider-favorito">{{ item.nombre }}</p>
          </ion-slide>
          <ion-slide class="slider_p">
            <p class="p-slider-favorito"></p>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="6" size-sm="4" size-md="3" style="display: flex; align-items: center;justify-content: flex-end;">
        <p class="p_busqueda">Resultados en radio de</p>
      </ion-col>
      <ion-col col size="5" size-sm="2" size-md="2" class="col_button">
        <!-- <ion-button class="ion-no-padding" (click)="update_kilometros (-5)"><ion-icon name="remove-outline"></ion-icon></ion-button> -->
        <p class="p_km">{{ get_kilometros (kilometros) }} km</p>
        <!-- <ion-button class="ion-no-padding" [disabled]="sucursales.length >= 10" (click)="update_kilometros (+5)"><ion-icon name="add-outline"></ion-icon></ion-button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="card_mapa">
    <p>{{ nombre }} en tu zona</p>
    
    <div>
      <div #map id="map"></div>
    </div>

    <ion-button class="plita-top" (click)="ver_lista ()">lista ></ion-button>
  </ion-card>
</ion-content>