<ion-header style="position: relative;">
  <ion-toolbar>
    <ion-card class="card_check">
      <p (click)="back ()"><ion-icon name="arrow-back-outline" class="icon_close"></ion-icon>{{ nombre }}</p>
      <!-- <ion-select value="brown" okText="Okay" cancelText="Dismiss" mode="ios">
        <ion-select-option value="brown">Lima</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select> -->
    </ion-card>
  </ion-toolbar>
  <ion-slides pager="false" [options]="slideOptsOne">
    <ion-slide>
      <ion-card (click)="open_idioma_popover ($event)">
        <p>idioma</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card (click)="open_honorario_popover ($event)">
        <p>Precio</p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card (click)="open_horario_popover ($event)">
        <p class="acitvo">Horario</p>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content>
  <p class="p_busqueda ion-text-end">Mostrando <span>{{ profesionales.length }} resultados</span></p>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let item of profesionales" size="12" size-sm="10" size-md="8" size-lg="6">
        <ion-card class="card_establecimineto">
          <div class="div_img_p">
            <div class="div_img_circulo">
              <img [src]="get_foto (item)">
            </div>
            <p class="p_votos"></p>
            <p class="p_opciones"></p>
          </div>
          <div class="div_img_pdiv_img_p">
            <div class="div_titulo_estrella">
              <ion-row>
                <ion-col size="8" class="ion-no-padding">
                  <p class="p_titulo">{{ item.nombre_completo }}</p>
                </ion-col>
                <ion-col size="4" class="ion-no-padding ion-text-end">
                  <p class="p_number_estrella"></p>
                  <!-- <p class="p_ofta">{{ item.especialidad.nombre }}</p> -->
                  <ion-icon style="font-size: 24px; color: #875FB6;" *ngIf="item.brinda_telemedicina === '1'" name="videocam-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </div>
            <div class="div_liena_azul">
              <p class="p_ofta">{{ item.especialidad.nombre }}</p>
              <p *ngIf="item.anio_colegiatura !== null">{{ get_tiempo_experiencia (item.anio_colegiatura) }} de experiencia</p>
              <p><ion-icon name="location-outline"></ion-icon>{{ item.direccion }}</p>
            </div>
          </div>
          <ion-row class="ion-justify-content-center" style="width: 100%;">
            <ion-col size="6" class="padding-cero-left">
              <ion-button class="btn_salud" (click)="ver (item)">Ver perfil</ion-button>
            </ion-col>
            <ion-col size="6" class="padding-cero-right">
              <ion-button *ngIf="validar_disponibilidad (item)" (click)="reservar_select (item)" class="btnRESERVA">
                Reservar
              </ion-button>

              <ion-button *ngIf="validar_disponibilidad (item) === false" (click)="llamar (item.telefono_celular)" class="btnRESERVA">
                <img src="assets/img/grupo-1878.png">
                Llamar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>