<!--<ion-header>
  <ion-toolbar>
    <ion-title>escoje-fecha-hora</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-verd">
    <ion-label class="label-cabezera">Confirmación de pago</ion-label>
  </ion-card>
  <ion-card class="card-blanco">
    <h6 class="ion-text-center titulo-card">¡Cita reservada!</h6>
    <ion-avatar>
      <img [src]="get_foto (data.doctor)">
    </ion-avatar>
    <h6 class="nombre-style ion-text-center">{{ data.doctor.nombre_completo }}</h6>
    <p class="p-descripcion ion-text-center" style="margin-bottom: 0px;">{{ data.doctor.especialidad.nombre }}</p>
    <p class="p-descripcion ion-text-center" style="margin-bottom: 0px;" *ngIf="data?.tipo_cita === 1">Cita virtual</p>
    <p class="p-descripcion ion-text-center">{{ data.direccion }}</p>
    <p class="p-hora-dia ion-text-center">{{ get_relative_date () }}, {{ get_date () }}</p>
    <p class="p-hora-dia ion-text-center">{{ get_date_format ('hh:mm A') }}</p>
    <p class="text-wrap p-descripcion ion-text-center" style="margin-top: 1rem;">
      Para completar el proceso de reserva, es necesario registrar los datos del paciente. Por favor presione el botón "INGRESAR DATOS" para continuar.
    </p>
    <!-- <p *ngIf="data?.tipo_cita === 1">
      Con el fin de tener una mejor experiencia en la consulta virtual, presione el botón PROCEDER
    </p> -->
  </ion-card>
  <ion-button class="btn-proxima" (click)="proceder ()">Ingresar datos</ion-button>
  <!-- <ion-row>
    <ion-col size="6" class="ion-text-center">
      <ion-button class="btn-proxima-omitir" (click)="omitir ()">Omitir</ion-button>
    </ion-col>

    <ion-col size="6" class="ion-text-center">
      <ion-button class="btn-proxima" (click)="proceder ()">Proceder</ion-button>
    </ion-col>
  </ion-row> -->
  <div class="div-foofter">
    <div class="div-linea"></div>
  </div>
</ion-content>
