<!--<ion-header>
  <ion-toolbar>
    <ion-title>escoje-fecha-hora</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-verd">
    <ion-label class="label-cabezera">Confirmación de pago</ion-label>
  </ion-card>
  <ion-card class="card-blanco">
    <h6 class="ion-text-center titulo-card">¡Reserva de cita exitosa!</h6>
    <ion-avatar>
      <img [src]="get_foto (data.doctor)">
    </ion-avatar>
    <h6 class="nombre-style ion-text-center">{{ data.doctor.nombre_completo }}</h6>
    <p class="p-descripcion ion-text-center" style="margin-bottom: 0px;">{{ data.doctor.especialidad.nombre }}</p>
    <p class="p-descripcion ion-text-center" style="margin-bottom: 0px;" *ngIf="data?.tipo_cita === 1">Cita virtual</p>
    <p class="p-descripcion ion-text-center">{{ data.direccion }}</p>
    <p class="p-hora-dia ion-text-center">{{ get_relative_date () }}, {{ get_date () }}</p>
    <p class="p-hora-dia ion-text-center">{{ get_date_format ('hh:mm A') }}</p>
    
  </ion-card>
  <ion-button class="btn-proxima" (click)="proceder ()">Proceder</ion-button>
  <div class="div-foofter">
    <div class="div-linea"></div>
  </div>
</ion-content>
