<!--<ion-header>
  <ion-toolbar>
    <ion-title>escoje-fecha-hora</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-verd">
    <ion-label class="label-cabezera"><ion-icon name="arrow-back-outline" class="icon-flecha"></ion-icon>Datos del paciente</ion-label>
    <p class="p-mapa">Mumbai</p>
  </ion-card>
  <ion-card class="card-blanco">
    <h6 class="ion-text-center titulo-card">¡Reserva de cita exitosa!</h6>
    <ion-avatar>
      <img src="assets/img/c88185bc9da4e6f2397185cab7ff2039.png">
    </ion-avatar>
    <h6 class="nombre-style ion-text-center">Cesar Perez Duarte</h6>
    <p class="p-descripcion ion-text-center">B.Sc, MBBS, DDVL, MD- Dermitol...</p>
    <p class="p-hora-dia ion-text-center">Mañana, 9 Dic</p>
    <p class="p-hora-dia ion-text-center">4.45PM</p>
  </ion-card>
  <ion-button class="btn-proxima">Proceder</ion-button>
  <div class="div-foofter">
    <div class="div-linea"></div>
  </div>
</ion-content>
