@font-face{
    font-family: MontserratBold;
    src : url('/assets/font/Montserrat-Bold.ttf')
}
@font-face{
    font-family: MontserratRegular;
    src : url('/assets/font/Montserrat-Regular.ttf')
}
@font-face{
    font-family: PoppinsSemiBold;
    src : url('/assets/font/Poppins-SemiBold.otf')
}
@font-face{
    font-family: PoppinsRegular;
    src : url('/assets/font/Poppins-Regular.otf')
}
@font-face{
    font-family: PoppinsMedium;
    src : url('/assets/font/Poppins-Medium.otf')
}
ion-content
{
    --background: #F5F5F5;
}
.card-verd
{
    --background: #18DDD0;
    border-radius: 0px 0px 24px 24px;
    height: 200px;
    margin: 0px;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 2.188rem;
    .label-cabezera
    {
        color: #ffffff;
        font-family: MontserratBold;
        font-size: 16px;
        display: flex;
        .icon-flecha
        {
            font-size: 20px;
            margin-right: 5px;
        }
    }
    .p-mapa
    {
        color: #ffffff;
        font-family: MontserratRegular;
        margin: 0px;
        font-size: 14px;
    }
}
.card-blanco
{
    --background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 9px 38px #00000029;
    height: 554px;
    margin-top: -110px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    .titulo-card
    {
        color: #313450;
        font-family: PoppinsSemiBold;
        font-size: 18px;
        margin-top: 137px;
        width: 100%;
        margin-bottom: 45px;
    }
    ion-avatar
    {
        --border-radius: 50%;
        width: 80px;
        height: 80px;
    }
    .nombre-style
    {
        color: #313450;
        font-family: PoppinsSemiBold;
        font-size: 16px;
        margin: 0px;
        width: 100%;
        margin-top: 14px;
    }
    .p-descripcion
    {
        color: #898A8F;
        font-family: PoppinsRegular;
        font-size: 13px;
        margin: 0px;
        width: 100%;
        margin-bottom: 14px;
    }
    .p-hora-dia
    {
        color: #313450;
        width: 100%;
        font-size: 14px;
        font-family: PoppinsMedium;
        margin: 0;
    }
}
.btn-proxima
{
    --background: #FE9067;
    --background-activated: #FE9067;
    --border-radius: 20px;
    --box-shadow: 0px 9px 38px #00000029;
    --padding-start: 0px;
    --padding-end: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 51px;
    margin-left: 5%;
    margin-top: -38px;
    --color: #ffffff;
    font-family: PoppinsMedium;
    font-size: 14px;
}
.div-foofter
{
    height: 56px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8883928571428571) 50%, rgba(255,255,255,1) 100%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    .div-linea
    {
        border-radius: 3px;
        background-color: #F0F0F3;
        height: 5px;
        width: 118px;
    }
}
@media (min-width: 480px)
{
    .div-foofter
    {
        margin-top: 128px;
    }
}
@media (min-width: 640px)
{
    .card-blanco
    {
        margin-left: 65px;
        margin-right: 66px;
    }
    .btn-proxima
    {
        margin-left: 12%;
        width: 76%;
    }
}
@media (min-width: 768px)
{
    .card-blanco
    {
        margin-left: 130px;
        margin-right: 130px;
    }
    .btn-proxima
    {
        margin-left: 18%;
        width: 64%;
    }
    .div-foofter
    {
        margin-top: 199px;
    }
}
@media (min-width: 1024px)
{
    .card-blanco
    {
        margin-left: 210px;
        margin-right: 210px;
    }
    .btn-proxima
    {
        margin-left: 22%;
        width: 56%;
    }
    .div-foofter
    {
        margin-top: 625px;
    }
}