<ion-header>
  <ion-toolbar>
    <ion-card class="card_check">
      <p (click)="back ()"><ion-icon name="close-outline" class="icon_close"></ion-icon>Inicio</p>
      <!-- <ion-icon name="home" routerLink="/home" routerDirection="root"></ion-icon> -->
    </ion-card>
  </ion-toolbar>
  <ion-card class="card_buscador">
    <ion-searchbar placeholder="Buscar por especialidad" (ionChange)="filtrar ()" [(ngModel)]="search_text"></ion-searchbar>
  </ion-card>
</ion-header>

<ion-content>
  <p class="p_busqueda">{{ especialidad_nombre }} - Especialidades</p>
  <ion-card class="ion-no-margin card_list">
    <ion-list>
      <ion-item (click)="encontrar_profesional (item)" *ngFor="let item of especialidades">
        <ion-label>{{ item.nombre }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>