<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ingresar a tu cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
  <ion-grid >
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <p>Ingresar</p>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8" style="position: relative;">
        <ion-input type="email" placeholder="Correo" formControlName="email" class="input_genral padding_right_input"></ion-input>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8" style="position: relative;">
        <ion-input type="password" placeholder="Contraseña" formControlName="password" class="input_genral padding_right_input"></ion-input>
        <ion-icon name="help-circle" class="icono_interrogativo"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
  <ion-button class="btn_enlace" [disabled]="form.invalid" (click)="submit ()">Siguiente</ion-button>
</ion-content>

