<!--<ion-header>
  <ion-toolbar>
    <ion-title>escoje-fecha-hora</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-verd">
    <ion-label class="label-cabezera"><ion-icon name="arrow-back-outline" class="icon-flecha"></ion-icon>Datos del paciente</ion-label>
    <p class="p-mapa">Mumbai</p>
  </ion-card>
  <ion-card class="card-blanco">
    <div class="div-perfil">
      <ion-avatar>
        <img src="assets/img/c88185bc9da4e6f2397185cab7ff2039.png">
      </ion-avatar>
      <div class="div-descripcion">
        <h6 class="nombre-style">Cesar Perez Duarte</h6>
        <p class="p-descripcion">B.Sc, MBBS, DDVL, MD- Dermitol...</p>
      </div>
    </div>
    <div class="div-fecha-costo">
      <div class="subdiv-fecha-costo border-right-fehca">
        <h6 class="titulo-fecha-costo">Fecha y hora</h6>
        <p class="p-fecha-costo">Mañana, 9 Dic</p>
        <p class="p-fecha-costo">4.45PM</p>
      </div>
      <div class="subdiv-fecha-costo padding-left-costo">
        <h6 class="titulo-fecha-costo">Costo de consulta</h6>
        <p class="p-fecha-costo">S/.100.00</p>
      </div>
    </div>
    <ion-input placeholder="Numero de tarjeta" type="number" class="input-genral"></ion-input>
    <ion-input placeholder="Nombre del titular" type="text" class="input-genral"></ion-input>
    <div class="div-input">
      <ion-input placeholder="dd/mm" type="number" class="input-genral input-mitad"></ion-input>
      <ion-input placeholder="Código" type="number" class="input-genral input-mitad input-left"></ion-input>
    </div>
    <p class="p-descripcion-plomo">* No hay devoluciones <br>** Cambios de cita hasta 24 horas antes</p>
  </ion-card>
  <ion-button class="btn-proxima">Pagar</ion-button>
  <div class="div-foofter">
    <div class="div-linea"></div>
  </div>
</ion-content>
