<!--<ion-header>
  <ion-toolbar>
    <ion-title>escoje-fecha-hora</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="card-verd">
    <ion-label class="label-cabezera"><ion-icon name="arrow-back-outline" class="icon-flecha"></ion-icon> Escoge fecha</ion-label>
    <p class="p-mapa">Mumbai</p>
  </ion-card>
  <ion-card class="card-blanco">
    <div class="div-perfil">
      <ion-avatar>
        <img src="assets/img/c88185bc9da4e6f2397185cab7ff2039.png">
      </ion-avatar>
      <div class="div-descripcion">
        <h6 class="nombre-style">Cesar Perez Duarte</h6>
        <p class="p-descripcion">B.Sc, MBBS, DDVL, MD- Dermitol...</p>
      </div>
    </div>
    <div class="item-toogle" mode="ios">
      <p class="p-toogle">Cita presencial</p>
      <ion-toggle></ion-toggle>
      <p class="p-toogle">Cita virtualal</p>
    </div>
    <div class="div-botones">
      <ion-button mode="ios" class="btn-circulo"><ion-icon name="chevron-back" class="icon-btn"></ion-icon></ion-button>
      <ion-label class="label-fecha">Hoy, 8 Dec</ion-label>
      <ion-button mode="ios" class="btn-circulo"><ion-icon name="chevron-forward" class="icon-btn"></ion-icon></ion-button>
    </div>
    <p class="p-citas-horario ion-text-center">Las citas son con anticipación Minima de 24 horas</p>
    <div class="div-card-dia">
      <div class="card-horas">
        <div class="div-dia-mañana">Mañana</div>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
      </div>
      <div class="card-horas">
        <div class="div-dia-tarde">Tarde</div>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
      </div>
      <div class="card-horas">
        <div class="div-dia-noche">Noche</div>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
        <ion-label class="label-horas">10.00</ion-label>
      </div>
    </div>
  </ion-card>
  <ion-button class="btn-proxima">Reservar cita</ion-button>
  <div class="div-foofter">
    <div class="div-linea"></div>
  </div>
</ion-content>
