<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Información laboral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6 class="h6-titulo ion-text-center">Centros en los cuales atiende</h6>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-select placeholder="Escoge un centro medico" mode="ios">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-input placeholder="Nombre del establecimiento" class="input_genral" type="text"></ion-input>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-select placeholder="Horarios" mode="ios">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-button mode="ios" class="btn-agregar">+ Agregar lugar de atención</ion-button>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-select placeholder="Enseña?" mode="ios">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-input placeholder="Escribe el nombre del establecimiento" class="input_genral" type="text"></ion-input>
      </ion-col>
      <ion-col size="11" size-md="9" size-lg="8">
        <ion-button mode="ios" class="btn-agregar">+ Agregar lugar de atención</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="btn_enlace">Siguiente</ion-button>
</ion-content>
