<ion-content>
  <ion-card class="card-verd">
    <ion-label class="label-cabezera">Datos del paciente</ion-label>
  </ion-card>
  <ion-card class="card-blanco">    
    <ion-list class="list-border-bottom">
      <ion-list-header class="list-header-top">
        <ion-label class="label-titulo ion-text-center">Seleccione un paciente</ion-label>
      </ion-list-header>

      <ion-radio-group [(ngModel)]="paciente_seleccionado" (ionChange)="change_paciente ($event.detail.value)">
        <ion-item *ngIf="validar_existe_me ()" lines="none">
          <ion-label class="item-label-radio">
            Yo mismo
          </ion-label>
          <ion-radio slot="start" value="me" class="ion-radio-check"></ion-radio>
        </ion-item>

        <ion-item *ngFor="let item of pacientes" lines="none">
          <ion-label class="item-label-radio">
            <h2>{{ item.paciente.nombres + ' ' + item.paciente.apellidos }}</h2>
            <p>{{ get_tipo_paciente_string (item.paciente.tipo_paciente) }} {{ item.paciente.dni }}</p>
          </ion-label>
          <ion-radio slot="start" [value]="item.paciente" class="ion-radio-check"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="item-label-radio">
            Registrar nuevo
          </ion-label>
          <ion-radio slot="start" value="nuevo" class="ion-radio-check"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ng-container *ngIf="paciente_seleccionado === 'nuevo'">
      <h6 class="h6-datos ion-text-center">Datos del paciente</h6>
      <div class="item-toogle" mode="ios">
        <p class="p-toogle">Peruano</p>
        <ion-toggle (ionChange)="change_value ($event.detail.checked)" [(ngModel)]="es_extranjero"></ion-toggle>
        <p class="p-toogle">Extranjero</p>
      </div>

      <form [formGroup]="form">
        <div *ngIf="es_extranjero === false" >
          <ion-input [readonly]="readonly" placeholder="DNI" maxlength="8" minlength="8" formControlName="dni" type="number" class="input-genral"></ion-input>

          <div *ngIf="dni_valido">
            <ion-input [readonly]="readonly" placeholder="Nombres"  formControlName="nombres" type="text" class="input-genral"></ion-input>
            <small *ngIf="form.controls.nombres.errors?.required && form.controls.nombres.dirty">
              * Este campo es obligatorio
            </small>

            <ion-input [readonly]="readonly" placeholder="Apellidos" formControlName="apellidos" type="text" class="input-genral"></ion-input>
            <small *ngIf="form.controls.apellidos.errors?.required && form.controls.apellidos.dirty">
              * Este campo es obligatorio
            </small>

            <ion-select formControlName="sexo" placeholder="Sexo" interface="popover" class="select-paciente">
              <ion-select-option value=0>Masculino</ion-select-option>
              <ion-select-option value=1>Femenino</ion-select-option>
            </ion-select>
            <small *ngIf="form.controls.sexo.errors?.required && form.controls.sexo.dirty">
              * Este campo es obligatorio
            </small>

            <ion-datetime  cancelText="Cancelar" doneText="Seleccionar" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" formControlName="fecha_nacimiento" placeholder="Fecha de nacimiento" class="input-datetime"></ion-datetime>
            <small *ngIf="form.controls.fecha_nacimiento.errors?.required && form.controls.fecha_nacimiento.dirty">
              * Este campo es obligatorio
            </small>

            <ion-input placeholder="Numero de telefono" formControlName="telefono" type="number" class="input-genral"></ion-input>
            <small *ngIf="form.controls.telefono.errors?.required && form.controls.telefono.dirty">
              * Este campo es obligatorio
            </small>

            <ion-input placeholder="Correo electrónico" formControlName="correo" type="email" class="input-genral"></ion-input>
            <small *ngIf="form.controls.correo.errors?.required && form.controls.correo.dirty">
              * Este campo es obligatorio
            </small>

            <small *ngIf="form.controls.correo.errors?.email">
              * Correo electronico invalido
            </small>
          </div>
        </div>
    
        <div *ngIf="es_extranjero" class="div-input-extrajero">
          <ion-select formControlName="tipo_paciente" placeholder="Tipo de documento" interface="popover" class="select-paciente">
            <ion-select-option value=1>Pasaporte</ion-select-option>
            <ion-select-option value=2>CE</ion-select-option>
          </ion-select>
          <small *ngIf="form.controls.tipo_paciente.errors?.required && form.controls.tipo_paciente.dirty">
            * Este campo es obligatorio
          </small>

          <ion-input placeholder="Numero de documento" formControlName="dni" type="text" class="input-genral"></ion-input>
          <small *ngIf="form.controls.dni.errors?.required && form.controls.dni.dirty">
            * Este campo es obligatorio
          </small>

          <ion-input placeholder="Nombres" formControlName="nombres" type="text" class="input-genral"></ion-input>
          <small *ngIf="form.controls.nombres.errors?.required && form.controls.nombres.dirty">
            * Este campo es obligatorio
          </small>

          <ion-input placeholder="Apellidos" formControlName="apellidos" type="text" class="input-genral"></ion-input>
          <small *ngIf="form.controls.apellidos.errors?.required && form.controls.apellidos.dirty">
            * Este campo es obligatorio
          </small>

          <ion-select formControlName="sexo" placeholder="Sexo" interface="popover" class="select-paciente">
            <ion-select-option value=0>Masculino</ion-select-option>
            <ion-select-option value=1>Femenino</ion-select-option>
          </ion-select>
          <small *ngIf="form.controls.sexo.errors?.required && form.controls.sexo.dirty">
            * Este campo es obligatorio
          </small>

          <ion-datetime  cancelText="Cancelar" doneText="Seleccionar" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" formControlName="fecha_nacimiento" placeholder="Fecha de nacimiento" class="input-datetime"></ion-datetime>
          <small *ngIf="form.controls.fecha_nacimiento.errors?.required && form.controls.fecha_nacimiento.dirty">
            * Este campo es obligatorio
          </small>

          <ion-input placeholder="Numero de telefono" formControlName="telefono" type="number" class="input-genral"></ion-input>
          <small *ngIf="form.controls.telefono.errors?.required && form.controls.telefono.dirty">
            * Este campo es obligatorio
          </small>

          <ion-input placeholder="Correo electrónico" formControlName="correo" type="email" class="input-genral"></ion-input>
          <small *ngIf="form.controls.correo.errors?.required && form.controls.correo.dirty">
            * Este campo es obligatorio
          </small>

          <small *ngIf="form.controls.correo.errors?.email">
            * Correo electronico invalido
          </small>
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="paciente_seleccionado === 'me'">
      <form [formGroup]="form">
        <ion-input placeholder="DNI"  formControlName="dni" type="tel" class="input-genral"></ion-input>
        <small *ngIf="form.controls.dni.errors?.required && form.controls.dni.dirty">
          * Este campo es obligatorio
        </small>

        <ion-input placeholder="Nombres"  formControlName="nombres" type="text" class="input-genral"></ion-input>
        <small *ngIf="form.controls.nombres.errors?.required && form.controls.nombres.dirty">
          * Este campo es obligatorio
        </small>

        <ion-input placeholder="Apellidos" formControlName="apellidos" type="text" class="input-genral"></ion-input>
        <small *ngIf="form.controls.apellidos.errors?.required && form.controls.apellidos.dirty">
          * Este campo es obligatorio
        </small>

        <ion-select formControlName="sexo" placeholder="Sexo" interface="popover" class="select-paciente">
          <ion-select-option value=0>Masculino</ion-select-option>
          <ion-select-option value=1>Femenino</ion-select-option>
        </ion-select>
        <small *ngIf="form.controls.sexo.errors?.required && form.controls.sexo.dirty">
          * Este campo es obligatorio
        </small>

        <ion-datetime  cancelText="Cancelar" doneText="Seleccionar" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" formControlName="fecha_nacimiento" placeholder="Fecha de nacimiento" class="input-datetime"></ion-datetime>
        <small *ngIf="form.controls.fecha_nacimiento.errors?.required && form.controls.fecha_nacimiento.dirty">
          * Este campo es obligatorio
        </small>

        <ion-input placeholder="Numero de telefono" formControlName="telefono" type="number" class="input-genral"></ion-input>
        <small *ngIf="form.controls.telefono.errors?.required && form.controls.telefono.dirty">
          * Este campo es obligatorio
        </small>

        <ion-input placeholder="Correo electrónico" formControlName="correo" type="email" class="input-genral"></ion-input>
        <small *ngIf="form.controls.correo.errors?.required && form.controls.correo.dirty">
          * Este campo es obligatorio
        </small>

        <small *ngIf="form.controls.correo.errors?.email">
          * Correo electronico invalido
        </small>
      </form>
    </ng-container>
  </ion-card>
  <ng-container *ngIf="paciente_seleccionado === 'nuevo'">
    <ion-button class="btn-proxima" *ngIf="es_extranjero === true" [disabled]="disabled_form ()" (click)="submit ()">
      Continuar
    </ion-button>
    <ion-button class="btn-proxima" *ngIf="es_extranjero === false" [disabled]="disabled_dni_form ()" (click)="validar_dni ()">
      Continuar
    </ion-button>
  </ng-container>

  <ng-container *ngIf="paciente_seleccionado === 'me'">
    <ion-button class="btn-proxima" [disabled]="form.invalid" (click)="submit ()">
      Continuar
    </ion-button>
  </ng-container>

  <ng-container *ngIf="paciente_seleccionado !== 'nuevo' && paciente_seleccionado !== 'me'">
    <ion-button class="btn-proxima" [disabled]="disabled_form ()" (click)="submit ()">
      Continuar
    </ion-button>
  </ng-container>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="div-foofter">
    <div class="div-linea"></div>
  </div>
</ion-footer>
