<ion-content>
  <ion-icon name="close-outline"></ion-icon>
  <ion-card>
    <h5 class="ion-text-center">Fijar horarios</h5>
    <div class="div-tutolo">
      <div class="div-circulo"></div>
      <h6 class="h6-subtitulo">Todos los dias</h6>
    </div>
    <div class="div-input-cuadrado">
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-linea">-</span>
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-de">y de</span>
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-linea">-</span>
      <ion-input class="input-cuadrado"></ion-input>
    </div>
    <div class="div-tutolo">
      <div class="div-circulo"></div>
      <h6 class="h6-subtitulo">Lunes - jueves</h6>
    </div>
    <div class="div-input-cuadrado">
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-linea">-</span>
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-de">y de</span>
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-linea">-</span>
      <ion-input class="input-cuadrado"></ion-input>
    </div>
    <ion-button mode="ios" class="btn-agregar">+ Agregar lugar de atención</ion-button>
    <div class="div-tutolo">
      <div class="div-circulo"></div>
      <h6 class="h6-subtitulo">Todos los dias</h6>
    </div>
    <div class="div-input-cuadrado">
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-linea">-</span>
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-de">y de</span>
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-linea">-</span>
      <ion-input class="input-cuadrado"></ion-input>
    </div>
    <div class="div-tutolo">
      <div class="div-circulo"></div>
      <h6 class="h6-subtitulo">Lunes - jueves</h6>
    </div>
    <div class="div-input-cuadrado">
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-linea">-</span>
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-de">y de</span>
      <ion-input class="input-cuadrado"></ion-input>
      <span class="span-linea">-</span>
      <ion-input class="input-cuadrado"></ion-input>
    </div>
    <ion-button class="btn-filtar">Guardar horarios</ion-button>
  </ion-card>
</ion-content>
