<ion-header>
<ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      
    <ion-title class="ion-text-center">Información personal</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
        <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="col_flex">
            <ion-card>
                <img [src]="imagen" alt="">
            </ion-card>
            <div class="div_absolute" (click)="selectImageSource ()">Subir foto <ion-icon name="chevron-forward-outline"></ion-icon></div>
        </ion-col>
        <ion-col size="11" size-md="9" size-lg="8">
            <ion-input formControlName="fName" placeholder="Nombres" class="input_genral"></ion-input>
        </ion-col>
        <ion-col size="11" size-md="9" size-lg="8">
            <ion-input formControlName="lName" placeholder="Apellidos" class="input_genral"></ion-input>
        </ion-col>
        <ion-col size="11" size-md="9" size-lg="8">
            <ion-input formControlName="email" placeholder="Correo" class="input_genral"></ion-input>
        </ion-col>
        <ion-col size="11"sub size-md="9" size-lg="8" class="col_linea_plomo"></ion-col>
        <ion-col size="11" size-md="9" size-lg="8" style="position: relative;">
            <ion-input type="password" formControlName="password" placeholder="Crea una contraseña" class="input_genral padding_right_input"></ion-input>
            <ion-icon name="help-circle" class="icono_interrogativo"></ion-icon>
        </ion-col>
        <ion-col size="11" size-md="9" size-lg="8" style="position: relative;">
            <ion-input type="password" formControlName="confirmar_password" placeholder="Repite la contraseña creada" class="input_genral padding_right_input"></ion-input>
            <ion-icon name="help-circle" class="icono_interrogativo"></ion-icon>
        </ion-col>
        </ion-row>
        </ion-grid>
    </form>
    <ion-button class="btn_enlace" [disabled]="!form.valid" (click)="submit ()">Siguiente</ion-button>
</ion-content>