<ion-content>
  <ion-card class="card-verd">
    <ion-label (click)="back ()" class="label-cabezera"><ion-icon name="arrow-back-outline" class="icon-flecha"></ion-icon>Atras</ion-label>
  </ion-card>
  <ion-card class="card-blanco">
    <div style="text-align: center;">
      <img style="padding-top: 2rem;" src="assets/img/logo-new.png" alt="">
    </div>
    <div class="form">
      <div class="container">
        <div id="myPaymentForm"></div>
      </div>
    </div>
    <div style="text-align: center; margin-top: 2rem;">
      <img style="width: 84px;" src="assets/img/izipay.jpg" alt="">
      <img style="width: 64px; margin-left: 1rem;" src="https://www.visa.ca/dam/VCOM/regional/na/canada/global-elements/icon-logos/vbyvisa-blu.png" alt="">
    </div>
  </ion-card>
</ion-content>
