<ion-content>
  <ion-icon (click)="close ()" name="close-outline" class="icon_close"></ion-icon>
  <ion-card>
    <h4 class="ion-text-center">AMBULANCIA</h4>
    <!-- <p class="p_confirme ion-text-center">Confirme sus datos</p> -->
    <!-- <div class="div_p_editar">
      <p class="p_telefono">Tu numero de telefono es<br><span>+51 989767545</span></p>
      <p class="p_editar">Editar</p>
    </div>
    <div class="div_p_editar">
      <p class="p_telefono">Calle La Paz 1234, San Isidro,<br> Lima</p>
      <p class="p_editar">Editar</p>
    </div> -->
    <ion-list>
      <ion-item *ngFor="let item of emergencias">
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h3>{{ item.establecimiento.nombre_comercial }}</h3>
          </ion-text>
          <p>{{ item.descripcion }}</p>
        </ion-label>

        <ion-button (click)="llamar (item.telefono_emergencia)" slot="end" fill="clear" color="dark">
          <ion-icon slot="icon-only" name="call-outline"></ion-icon>
        </ion-button>
      </ion-item>
    
    </ion-list>
    <h3 class="ion-text-center">SAMU</h3>
    <p class="ion-text-center ion-text-wrap">Un profesional de la salud, capacitado y entrenado en urgencias y emergencias, te responderá de inmediato y aconsejará cómo proceder durante el incidente.</p>
    <ion-button class="btn_llamar" (click)="llamar ('106')">Llamar gratis al 106</ion-button>
    <small class="ion-text-center ion-text-wrap">Recuerde que las llamadas malintencionadas a números de emergencia están sancionadas por ley, use este numero con responsabilidad.</small>
  </ion-card>
</ion-content>