<ion-content>
  <ion-icon (click)="close ()" name="close-outline" class="icon_close"></ion-icon>
  <ion-card>
    <h4 class="ion-text-center">Ambulancia</h4>
    <p class="ion-text-center p-escoge">
      Escoge el proveedor que mas te agrade
    </p>
    <ion-list>
      <ion-item *ngFor="let item of emergencias" class="item-list">
        <ion-avatar style="width: 48px; --border-radius: 0px;" slot="start">
          <img [src]="get_foto (item.imagen_logo)" alt="">
        </ion-avatar>
        <ion-label class="ion-text-wrap label-top">
          <p class="p-nombre-empresa">{{ item.establecimiento.nombre_comercial }}</p>
          <p class="p-descrip-empresa">{{ item.descripcion }}</p>
        </ion-label>
        <img (click)="llamar (item.telefono_emergencia)" src="assets/img/grupo-1952.png" class="img-ambulancia">
      </ion-item>
    </ion-list>
    <div class="ion-text-center">
      <p class="p-llmar">O también puedes llamar a:</p>
      <img style="width: 35%;" [src]="get_foto (emergencia_principal?.logotipo_emergencia)">
    </div>
    <!--<h3 class="ion-text-center">{{ emergencia_principal?.nombre_emergencia }}</h3>
    <p class="ion-text-center ion-text-wrap">{{ emergencia_principal?.descripcion_emergencia }}</p>-->
    <ion-button class="btn_llamar" (click)="llamar (emergencia_principal?.telefono_emergencia)" mode="ios">Llamar</ion-button>
    <p class="ion-text-center p-descripc-llamar">Recuerde que las llamadas malintencionadas a números de emergencia están sancionadas por ley, use este numero con responsabilidad.</p>
  </ion-card>
</ion-content>