<ion-header style="position: relative;">
  <ion-toolbar>
    <ion-card class="card_check">
      <p (click)="back ()"><ion-icon name="arrow-back-outline" class="icon_close"></ion-icon>Regresar</p>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss" mode="ios">
        <ion-select-option value="brown">Lima</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-card>
  </ion-toolbar>
  <ion-slides #slide_categorias pager="false" [options]="slideOptsOne" (ionSlideDidChange)="slides_categoria_changed ()">
    <ion-slide>
    </ion-slide>
    <ion-slide *ngFor="let item of categorias">
      <ion-card>
        <p>{{ item.nombre }}</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-md="6">
        <h1 class="ion-text-center">{{ datos?.titulo }}</h1>
        <ion-slides pager="false" #slide_publicidades class="slider_img" (ionSlideDidChange)="slidesChanged ()">
          <ion-slide *ngFor="let item of publicidades">
            <ion-avatar>         
              <img [src]="'http://appmedico.demoperu.site/storage/' + item.imagen">
            </ion-avatar>
          </ion-slide>
        </ion-slides>
        <p class="p_descrip">
          {{ datos?.descripcion }}
        </p>
        <div class="div_botones">
          <ion-button class="btn_mas">Mas información</ion-button>
          <ion-button class="btn_telefono" (click)="llamar (datos?.telefono_contacto)"><img src="assets/img/Grupo1716.png">Contactar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>