<ion-header>
  <ion-toolbar>
    <ion-card class="card_check">
      <img src="assets/img/Grupo1695.png" class="logo_acude">
      <ion-select placeholder="Seleccione un departamento" (ionChange)="select_departamento ()" interfaces="alert" [(ngModel)]="departamento" okText="Seleccionar" cancelText="Cerrar" mode="ios">
        <ion-select-option *ngFor="let item of departamentos" [value]="item">
          {{ item.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-card>
  </ion-toolbar>
  
  <ion-card class="card_buscador">
    <ion-input type="search" debounce=250 (ionChange)="search ()" [(ngModel)]="search_text" mode="ios" placeholder="¿Que deseas buscar?"></ion-input>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-card>

  <ion-card *ngIf="resultados_busqueda.length > 0 && search_text !== ''" class="card-list-buscador">
    <ion-list class="list-buscador">
      <ion-list-header *ngIf="get_profesionales (resultados_busqueda).length > 0">
        <img src="assets/img/iconbuscar-3.png">
        <ion-label class="label-buscador">Profesionales de la salud</ion-label>
      </ion-list-header>

      <ion-item style="opacity: 0.7; font-size: 0.8rem;" *ngFor="let item of get_profesionales (resultados_busqueda)" (click)="ver_item_buscar (item)">
        <ion-label class="label-datos">{{ item.title }}</ion-label>
      </ion-item>

      <ion-list-header *ngIf="get_establ (resultados_busqueda).length > 0" class="listheader-top">
        <img src="assets/img/iconbuscar-2.png">
        <ion-label class="label-buscador">Establecimientos</ion-label>
      </ion-list-header>

      <ion-item style="opacity: 0.7; font-size: 0.8rem;" *ngFor="let item of get_establ (resultados_busqueda); let i = index" (click)="ver_item_buscar (item)">
        <!-- <img src="assets/img/OjPimX.tif.png" alt=""> -->
        <ion-label *ngIf="i <= 2" class="label-datos">{{ item.title }}</ion-label>
      </ion-item>

      <ion-list-header *ngIf="get_publi (resultados_busqueda).length > 0" class="listheader-top">
        <img src="assets/img/iconbuscar-1.png">
        <ion-label class="label-buscador">Promociones & eventos</ion-label>
      </ion-list-header>

      <ion-item style="opacity: 0.7; font-size: 0.8rem;" *ngFor="let item of get_publi (resultados_busqueda)" (click)="ver_item_buscar (item)">
        <ion-label class="label-datos">{{ item.title }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-header>

<ion-content>
  <ion-grid style="padding-right: 0px;padding-left: 0px;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="9" class="ion-text-end ion-no-padding">
        <p class="p_busqueda" (click)="busqueda_avanzada ()">Búsqueda avanzada</p>
      </ion-col>

      <ion-col size="12" size-md="9" size-lg="8">
        <ion-card class="card_acordion">
          <ion-card-header mode="ios" (click)="toggle_profesionales ()">
            <img src="assets/img/Trazado1594.png">
            <ion-card-title>Profesionales de la salud</ion-card-title>
            <ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon>
          </ion-card-header>
          <ion-card-content *ngIf="ver_profesionales">
            <div *ngIf="profesionales_salud_cargando" class="ion-text-center ion-spinner-div">
              <ion-spinner></ion-spinner>
            </div>
            <ion-list *ngIf="!profesionales_salud_cargando">
              <ion-item (click)="filtrar_especialidades (item)" *ngFor="let item of profesionales_salud">
                <ion-label>{{ item.nombre }}</ion-label>
              </ion-item>

              <ion-item (click)="ver_mas_profesionales ()">
                <ion-label *ngIf="profesionales_ver_mas">Ver mas...</ion-label>
                <ion-label *ngIf="!profesionales_ver_mas">Ver menos...</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="9" size-lg="8">
        <ion-card class="card_acordion">
          <ion-card-header mode="ios" (click)="toggle_tipos_centros_medicos ()">
            <img src="assets/img/OjPimX.tif.png">
            <ion-card-title>Ver establecimientos</ion-card-title>
            <ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon>
          </ion-card-header>
          <ion-card-content *ngIf="ver_centros_medicos">
            <div *ngIf="tipos_centros_medicos_cargando" class="ion-text-center ion-spinner-div">
              <ion-spinner></ion-spinner>
            </div>

            <ion-list *ngIf="!tipos_centros_medicos_cargando">
              <ion-item *ngFor="let item of tipos_centros_medicos" (click)="ver_centros (item)">
                <ion-label>{{ item.nombre }}</ion-label>
              </ion-item>

              <ion-item (click)="ver_mas_establecimientos ()">
                <ion-label>Ver mas...</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="9" size-lg="8">
        <ion-card class="card_acordion">
          <ion-card-header mode="ios" (click)="toggle_publicidad ()">
            <img src="assets/img/Grupo1905.png">
            <ion-card-title>Promociones y eventos</ion-card-title>
            <ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon>
          </ion-card-header>
          <ion-card-content class="card_content_none3 ion-no-padding">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="ver_publicidad">
    <div *ngIf="publicidad_cargando" class="ion-text-center ion-spinner-div">
      <ion-spinner></ion-spinner>
    </div>

    <ion-slides pager="false" [options]="slideOptsOne">
      <ion-slide *ngFor="let item of publicidades" (click)="ver_detalle_publicidad (item)">
        <img [src]="'http://appmedico.demoperu.site/storage/' + item.imagen">
      </ion-slide>
    </ion-slides>

    <ion-item *ngIf="publicidades.length <= 0 && publicidad_cargando === false" lines="none" class="ion-text-center ion-text-wrap">
      <ion-label>
        <p>No encontramos publicidades en su departamento</p>
      </ion-label>
    </ion-item>

    <ion-button *ngIf="publicidad_cargando === false && publicidades.length > 0" (click)="ver_todo_publicidad ()" class="ion-text-center btn_saltar">Ver todo</ion-button>
  </ng-container>
</ion-content>

<ion-footer class="ion-no-border ion_footer">
  <div class="div-footer" (click)="emergencia ()">
    <img src="assets/img/Grupo1699.png">
    <ion-label class="label_semibol ion-text-center">Emergencia</ion-label>
  </div>
  <div class="div-footer" (click)="historial ()">
    <img src="assets/img/Grupo-1921.png">
    <ion-label class="label_regular ion-text-center">Historial de citas</ion-label>
  </div>
  <div class="div-footer" (click)="favoritos ()">
    <img src="assets/img/Grupo1873.png">
    <ion-label class="label_regular ion-text-center">Mis favoritos</ion-label>
  </div>
  <div class="div-footer" (click)="menu ()">
    <img src="assets/img/user-4.png">
    <ion-label class="label_regular ion-text-center">Mi cuenta</ion-label>
  </div>
  <div class="div-linea-footer"></div>
</ion-footer>