@font-face{
    font-family: PoppinsSemiBold;
    src : url('/assets/font/Poppins-SemiBold.otf')
}
@font-face{
    font-family: PoppinsRegular;
    src : url('/assets/font/Poppins-Regular.otf')
}
@font-face{
    font-family: PoppinsMedium;
    src : url('/assets/font/Poppins-Medium.otf')
}

.ion-spinner-div {
    padding-top: 2rem;
}

ion-header
{
    height: 0px;
    ion-toolbar
    {
        --background: #18DDD0;
        --color: #ffffff;
        --padding-start: 0px;
        --padding-end:0px;
        text-align: center;
        border-radius: 0px 0px 35px 35px;
        height: 140px;
        display: flex;
        align-items: center;
        font-family: MontserratSemiBold;
        position: relative;
        ion-card.card_check
        {
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            box-shadow: none;
            padding: 0px 20px;
            margin-bottom: 25px;
            align-items: end;
            ion-select::before
            {
                content: url('/assets/img/Grupo1907.png');
                position: absolute;
                right: 0;
                top: 13px;
                z-index: 99999;
            }
            ion-select
            {
                color: #ffffff;
                font-family: PoppinsSemiBold;
                position: relative;
                padding-left: 0px;
                padding-right: 20px;
            }
            ion-select::part(icon) 
            {
                display: none !important;
            }
        }
    }
}
ion-content
{
    --padding-top: 110px;
    --background: url('/assets/img/fondo.png') bottom/100% 50% no-repeat;
}
ion-card.card_buscador
{
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 3px 20px;
    z-index: 99999;
    margin-top: -36px;
    box-shadow: 0px 12px 24px #0000001A;
    position: relative;
    ion-input
    {
        font-family: PoppinsRegular;
        --color: #383a3e;
        --placeholder-color: #1f1e1e;
        font-weight: bold;
        --placeholder-font-weight: 100;
    }
}

// div.div_tabla
// {
//     width: 90%;
//     margin-left: 5%;
//     margin-right: 5%;
//     border-radius: 0px 0px 15px 15px;
//     box-shadow: 0px 3px 6px #00000029;
//     z-index: 999999;
//     position: absolute;
// }

.p_busqueda
{
    font-family: PoppinsRegular;
    color: #875FB6;
    margin-top: 55px;
    font-size: 14px;
    display: flex;
    align-items: center;
    .img-sercha-morado
    {
        margin-right: 8px;
    }
}
ion-card.card_acordion
{
    border-radius: 10px 10px 0px 0px;
    box-shadow: none;
    margin: 0px 10px;
    ion-card-header
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: #18DDD0;
        border-radius: 10px;
        color: #ffffff;
        padding: 0px 15px;
        height: 55px;
        ion-card-title
        {
            margin-top: 0px;
            color: #ffffff;
            font-family: PoppinsRegular;
            font-size: 16px;
            text-align: left;
            margin-left: 20px;
            width: 220px;
        }
        .icon_left
        {
            font-size: 30px;
        }
        .icon_rigth
        {
            font-size: 20px;
        }
    }
    ion-card-content
    {
        ion-list
        {
            ion-item
            {
                --padding-start: 0px;
                --inner-padding-end: 0px;
                ion-label
                {
                    color: #313450;
                    font-family: PoppinsRegular;
                }
            }
        }
    }
    .card_content_none1
    {
        display: none;
    }
    .card_content_none2
    {
        display: none;
    }
    
}
.ion_footer
{
    border-radius: 18px 18px 0px 0px;
    box-shadow: 0px -4px 63px #00000012;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 19px;
    padding-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    .div-footer
    {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .label_semibol
        {
            width: 100%;
            font-family: PoppinsSemiBold;
            color: #333348;
            font-size: 10px;
        }
        .label_regular
        {
            width: 100%;
            font-family: PoppinsRegular;
            color: #898A8F;
            font-size: 10px;
        }
    }
    .div-linea-footer
    {
        position: absolute;
        bottom: 10px;
        z-index: 1;
        left: 30%;
        width: 40%;
        height: 4px;
        border-radius: 3px;
        background-color: #F0F0F3;
    }
}
ion-slides
{
    margin-top: 0px;
    margin-left: 20px;
    ion-slide
    {
        height: 150px;
        border-radius: 8px;
        box-shadow: 0px 9px 28px #00000029;
        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
        }
    }  
}
.btn_saltar
{
  width: 100%;
  --background: transparent;
  --color: #3F4079;
  --border-color: #cdd3d9;
  --box-shadow: none;
  text-transform: capitalize;
  margin-top: 15px;
  font-family: PoppinsSemiBold;
  font-weight: bold;
}
.logo_acude
{
    width: 140px;
    height: 33px;
}
.list-buscador
{
    margin-top: 25px;
}
.label-buscador
{
    color: #898A8F;
    font-family: PoppinsSemiBold;
    margin-left: 1rem;
    margin-bottom: 0px;
}
.label-datos
{
    color: #898A8F;
    font-family: PoppinsRegular;
}
.listheader-top
{
    margin-top: 10px;
}
.card-list-buscador
{
    position: fixed; 
    width: 90%; 
    top: 19%; 
    left: 2%;
    padding-right: 20px;
}
.p-econtramos
{
    color: #875FB6;
    font-family: PoppinsMedium;
}
.btn-close-home
{
    float: right;
    background-color: #875FB6;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
@media (min-width: 411px)
{
    ion-content
    {
        --padding-top: 130px;
    }
    ion-card.card_buscador
    {
        margin-top: -30px;
    }
    ion-card.card_acordion
    {
        ion-card-header
        {
            ion-card-title
            {
                width: 271px;
            }
        }
    }
}
@media (min-width: 414px)
{
    ion-content
    {
        --padding-top: 130px;
    }
    ion-card.card_buscador
    {
        margin-top: -30px;
    }
    ion-slides
    {
        ion-slide
        {
            height: 170px;
        }  
    }
}
@media (min-width: 480px)
{
    ion-content
    {
        --padding-top: 130px;
    }
    ion-card.card_buscador
    {
        margin-top: -30px;
    }
    ion-card.card_acordion
    {
        ion-card-header
        {
            ion-card-title
            {
                width: 340px;
            }
        }
    }
    .card-list-buscador
    {
        top: 16%; 
    }
}
@media (min-width: 640px)
{
    ion-content
    {
        --padding-top: 90px;
    }
}
@media (min-width: 768px)
{
    ion-content
    {
        --padding-top: 140px;
    }
    ion-card.card_buscador
    {
        width: 80%;
        margin-left: 10%;
        margin-top: -25px;
    }
    ion-card.card_acordion
    {
        ion-card-header
        {
            ion-card-title
            {
                width: 438px;
            }
        }
    }
    ion-slides
    {
        margin-left: 115px;
        ion-slide
        {
            height: 340px;
        }  
    }
    .card-list-buscador
    {
        width: 76%;
        top: 13%;
        left: 10%;
    }
}
@media (min-width: 1024px)
{
    ion-card.card_acordion
    {
        ion-card-header
        {
            ion-card-title
            {
                width: 546px;
            }
        }
    }
    ion-slides
    {
        margin-left: 188px;
        ion-slide
        {
            height: 390px;
        }  
    }
    .card-list-buscador
    {
        width: 77.5%;
        top: 8%;
        left: 10%;
    }
}