<ion-header>
  <ion-toolbar>
    <ion-card class="card_check">
      <img src="assets/img/Grupo1695.png" class="logo_acude">
      <ion-select placeholder="Seleccione un departamento" (ionChange)="select_departamento ()" interfaces="alert" [(ngModel)]="departamento" okText="Seleccionar" cancelText="Cerrar" mode="ios">
        <ion-select-option *ngFor="let item of departamentos" [value]="item">
          {{ item.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-card>
  </ion-toolbar>
  
  <ion-card class="card_buscador">
    <ion-input type="search" debounce=250 (ionChange)="search ()" [(ngModel)]="search_text" mode="ios" [placeholder]="placeholder_search_text"></ion-input>
    <ion-spinner *ngIf="search_loading"></ion-spinner>
  </ion-card>

  <ion-card *ngIf="resultados_busqueda.length > 0 && search_text !== ''" class="card-list-buscador">
    <ion-list class="list-buscador">
      <ion-button (click)="search_text = ''" class="btn-close-home"><ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-list-header *ngIf="get_profesionales (resultados_busqueda).length > 0">
        <img src="assets/img/W5AznXtif-acitvo.png">
        <ion-label class="label-buscador">Profesionales de la salud</ion-label>
      </ion-list-header>

      <ion-item style="opacity: 0.7; font-size: 0.8rem;" *ngFor="let item of get_profesionales (resultados_busqueda)" (click)="ver_item_buscar (item)">
        <ion-label class="label-datos">{{ item.title }}</ion-label>
      </ion-item>

      <ion-list-header *ngIf="get_establ (resultados_busqueda).length > 0" class="listheader-top">
        <img src="assets/img/WKxjGJtif-activo.png">
        <ion-label class="label-buscador">Establecimientos</ion-label>
      </ion-list-header>

      <ion-item style="opacity: 0.7; font-size: 0.8rem;" *ngFor="let item of get_establ (resultados_busqueda); let i = index" (click)="ver_item_buscar (item)">
        <ion-label class="label-datos">{{ item?.title }}</ion-label>
      </ion-item>

      <ion-list-header *ngIf="get_publi (resultados_busqueda).length > 0" class="listheader-top">
        <img src="assets/img/BbAouvtif-activo.png">
        <ion-label class="label-buscador">Promociones & eventos</ion-label>
      </ion-list-header>

      <ion-item style="opacity: 0.7; font-size: 0.8rem;" *ngFor="let item of get_publi (resultados_busqueda)" (click)="ver_item_buscar (item)">
        <ion-label class="label-datos">{{ item.title }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-header>

<ion-content>
  <ion-grid style="padding-right: 0px;padding-left: 0px;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-md="9" class="ion-text-start ion-no-padding">
        <p class="p_busqueda" (click)="busqueda_avanzada ()"><img src="assets/img/iconmoradoserch.png" class="img-sercha-morado">&nbsp;Realizar búsqueda avanzada</p>
      </ion-col>

      <ion-col size="12" size-md="9" size-lg="8">
        <ion-card class="card_acordion">
          <ion-card-header mode="ios" (click)="toggle_profesionales ()">
            <img src="assets/img/W5AznXtif.png">
            <ion-card-title>Profesionales</ion-card-title>
            <ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon>
          </ion-card-header>
          <ion-card-content *ngIf="ver_profesionales">
            <div *ngIf="profesionales_salud_cargando" class="ion-text-center ion-spinner-div">
              <ion-spinner></ion-spinner>
            </div>
            <ion-list *ngIf="!profesionales_salud_cargando">
              <ion-item (click)="filtrar_especialidades (item)" *ngFor="let item of profesionales_salud">
                <ion-label>{{ item.nombre }}</ion-label>
              </ion-item>

              <ion-item (click)="ver_mas_profesionales ()">
                <ion-label *ngIf="profesionales_ver_mas">Ver mas...</ion-label>
                <ion-label *ngIf="!profesionales_ver_mas">Ver menos...</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="9" size-lg="8">
        <ion-card class="card_acordion">
          <ion-card-header mode="ios" (click)="toggle_tipos_centros_medicos ()">
            <img src="assets/img/WKxjGJtif.png">
            <ion-card-title>Establecimientos</ion-card-title>
            <ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon>
          </ion-card-header>
          <ion-card-content *ngIf="ver_centros_medicos">
            <div *ngIf="tipos_centros_medicos_cargando" class="ion-text-center ion-spinner-div">
              <ion-spinner></ion-spinner>
            </div>

            <ion-list *ngIf="!tipos_centros_medicos_cargando">
              <ion-item *ngFor="let item of tipos_centros_medicos" (click)="ver_centros (item)">
                <ion-label>{{ get_fotmat_string (item.nombre) }}</ion-label>
              </ion-item>

              <ion-item (click)="ver_mas_establecimientos ()">
                <ion-label>Ver mas...</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="9" size-lg="8">
        <ion-card class="card_acordion">
          <ion-card-header mode="ios" (click)="toggle_publicidad ()">
            <img src="assets/img/BbAouvtif.png">
            <ion-card-title>Promociones y eventos</ion-card-title>
            <ion-icon name="chevron-forward-outline" class="icon_rigth"></ion-icon>
          </ion-card-header>
          <ion-card-content class="card_content_none3 ion-no-padding">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="ver_publicidad">
    <div *ngIf="publicidad_cargando" class="ion-text-center ion-spinner-div">
      <ion-spinner></ion-spinner>
    </div>

    <ion-slides pager="false" [options]="slideOptsOne">
      <ion-slide *ngFor="let item of publicidades" (click)="ver_detalle_publicidad (item)">
        <img [src]="'https://www.acudeapp.com/storage/' + item.imagen">
      </ion-slide>
    </ion-slides>

    <ion-item *ngIf="publicidades.length <= 0 && publicidad_cargando === false" lines="none" class="ion-text-center ion-text-wrap">
      <ion-label>
        <p class="p-econtramos ion-text-wrap">No encontramos publicidades en su ciudad</p>
      </ion-label>
    </ion-item>

    <ion-button *ngIf="publicidad_cargando === false && publicidades.length > 0" (click)="ver_todo_publicidad ()" class="ion-text-center btn_saltar">Ver todo</ion-button>
  </ng-container>
</ion-content>

<ion-footer *ngIf="keyboard_visible === false" class="ion-no-border ion_footer">
  <div class="div-footer" (click)="emergencia ()">
    <img src="assets/img/VL4lzFtif.png">
    <ion-label class="label_semibol ion-text-center">Ambulancia</ion-label>
  </div>
  <div class="div-footer" (click)="historial ()">
    <img src="assets/img/KNojertif.png">
    <ion-label class="label_semibol ion-text-center">Historial</ion-label>
  </div>
  <div class="div-footer" (click)="favoritos ()">
    <img src="assets/img/D6dSLWtif.png">
    <ion-label class="label_semibol ion-text-center">Favoritos</ion-label>
  </div>
  <div class="div-footer" (click)="menu ()">
    <img src="assets/img/glTnSntif.png">
    <ion-label class="label_semibol ion-text-center">Mi cuenta</ion-label>
  </div>
  <div class="div-linea-footer"></div>
</ion-footer>